
<section class="tnt">
  <h2>TNT Consignment Reporting</h2>
  <div class="row">
    <div style="margin-bottom: 40px" class="col-xs-12">
      <h3>Select Report Type</h3>
      <div class="radio">
        <input type="radio" ng-model="report" value="all"/>
        <label>Display all tracking events</label>
      </div>
      <div class="radio">
        <input type="radio" ng-model="report" value="last"/>
        <label>Display last tracking event only
          <div ng-if="report == 'all'">
            <ui-view name="tnt"></ui-view>
          </div>
          <div ng-if="report == 'last'">
            <ui-view name="tntlast"></ui-view>
          </div>
        </label>
      </div>
    </div>
  </div>
</section>