
<section class="st">
  <h3>Star Track Consignment Reporting</h3>
  <div class="row">
    <div class="col-xs-12">
      <h3>Select Order file</h3>
      <input type="file" nv-file-select="" uploader="uploader"/>
    </div><br/><br/><br/>
    <hr/>
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="uploader.isHTML5">Size</th>
            <th ng-show="uploader.isHTML5">Progress</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td ng-show="uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="uploader.isHTML5">
              <div style="margin-bottom: 0;" class="progress">
                <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
              </div>
            </td>
            <td nowrap="">
              <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-upload"></span> Upload</button>
              <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <svg ng-if="uploader.progress === 100 &amp;&amp; !json" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" class="spinner">
    <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30" class="path"></circle>
  </svg>
  <button ng-if="json" ng-csv="json" filename="StarTrack_Consignment-Status" csv-header="['rowNum', 'Con Num', 'Date', 'Time', 'Location', 'Status', 'Summary']" class="btn btn-lg btn-success col-xs-4 col-xs-offset-4">Generate Excel</button>
</section>