h2.text-center Transport Works US 
br
br
br
.col-xs-6
	.card.card-block
		h4.card-title TNT Consignment Reporting
		p.card-text Generate report of tracking events for TNT Express in Excel
		a.btn.btn-primary(ui-sref="tnt.view") TNT Reporting
.col-xs-6
	.card.card-block
		h4.card-title Startrack Consignment Reporting
		p.card-text Generate report of tracking events for Startrack in Excel
		a.btn.btn-primary(ui-sref="startrack") Startrack Reporting